<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :name, "Recipe Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :public, "Public or Private" %>
    <%= f.select :public, options_for_select(
      [["Public", true],["Private", false]], @recipe.public) %>
  </p>

  <%= f.collection_check_boxes :food_ids, @foods, :id, :display do |b| %>
    <p>
      <%= b.check_box %>
      <%= b.label %>
    </p>
  <% end %>


  <fieldset>
    <p>Search Results</p>
    <%= f.collection_check_boxes :food_ids, @search_foods, :id, :display do |b| %>
      <p>
        <%= b.check_box %>
        <%= b.label %>
      </p>
    <% end %>

    <p>
      <%= f.label :search, "Search for New Foods" %><br>
      <%= f.text_area :search, rows: 5, cols: 25 %>
      <p>
        Please each food on a separate line.  Example: <br>
        "1 gala apple"<br>
        "1/4 cup walnuts"
      </p>
    </p>

    <p>
      <%= f.submit "Search" %>
    </p>
  </fieldset>

  <p>
    <%= f.submit %>
  </p>
<% end %>

