<%= form_for @recipe do |f| %>

  <%= render partial: 'layouts/form_errors', locals: { form_errors: @recipe } %>

  <fieldset>
    <legend>Recipe Details</legend>
    <%= f.label :name, 'Recipe Name' %>
    <%= f.text_field :name %>

    <%= f.label :public, 'Public or Private' %>
    <%= f.select :public, options_for_select(
      [['Public', true],['Private', false]], @recipe.public) %>

    <%= f.label :serving_size %>
    <%= f.number_field :serving_size, min: 0.00, step: 0.25 %>
  </fieldset>

  <fieldset id="ingredients">
    <legend>Ingredients</legend>
    <%= f.fields_for :ingredients do |ingredient| %>
      <% if ingredient.object.food.valid? %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>
    <% end %>

    <div class='links add-ingredient'>
      <%= link_to_add_association f, :ingredients do %>
        <button>Add Ingredient</button>
      <% end %>
    </div>
  </fieldset>


  <%= render 'food_search', f: f %>

  <fieldset>
    <legend>Create New Foods</legend>
    <%= f.fields_for :foods do |food| %>
      <% if food.object.invalid? %>
        <%= render 'food_fields', f: food %>
      <% end %>
    <% end %>

    <div class='links add-foods'>
      <%= link_to_add_association f, :foods, partial: 'food_fields' do %>
        <button>Add Food</button>
      <% end %>
    </div>
  </fieldset>

  <%= f.submit %>
<% end %>
