<div class="nested-fields">
  <%= f.label :quantity %>
  <%= f.number_field :quantity, min: 0.00, step: 0.25 %>

  <%= f.label :food_id, "Food" %>
  <%= f.collection_select :food_id, @foods, :id, :display %>

  <%= link_to_remove_association f do %>
    <button>Remove Ingredient</button>
  <% end %>
</div>
