<h1><%= @recipe.name %></h1>

<p><%= link_to "Edit Recipe", edit_recipe_path(@recipe) %></p>

<p>Privacy Setting: <%= @recipe.privacy_setting %></p>


<h2>Recipe Nutrition per Serving</h2>
<table class="tables recipe">
  <thead>
    <tr>
      <th>Food</th>
      <th>Calories</th>
      <th>Carbohydrate</th>
      <th>Protein</th>
      <th>Fat</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.per_ingredient_stats.each do |food| %>
      <tr>
        <td><%= food.food_name.titleize %></td>
        <td class="data"><%= num food.calories %></td>
        <td class="data"><%= num food.carbs %></td>
        <td class="data"><%= num food.protein %></td>
        <td class="data"><%= num food.fat %></td>
      </tr>
    <% end %>
    <tr class="total">
      <td>Recipe Total</td>
      <td class="data"><%= num @recipe.total_stats.calories %></td>
      <td class="data"><%= num @recipe.total_stats.carbs %></td>
      <td class="data"><%= num @recipe.total_stats.protein %></td>
      <td class="data"><%= num @recipe.total_stats.fat %></td>
  </tbody>
</table>


<h2>Recipe as Provided</h2>

<p>Serving Size: <%= num @recipe.serving_size %></p>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.quantity %> - <%= ingredient.food.display.titleize %></li>
  <% end %>
</ul>

