<h2>User: <%= current_user.email %></h2>

<h2>Food Log</h2>

<ul>
  <% current_user.logs.each do |log| %>
    <li>
      <%= date(log.log_date) %> <%= link_to "Edit Log", edit_log_path(log) %>
      <ul class="default">
        <% log.entries.each do |entry| %>
          <li><%= entry.recipe.title %> - <%= entry.category %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
