<div class='nested-fields inline-fields'>
  <%= f.label :quantity %>
  <%= f.number_field :quantity, min: 0.00, step: 0.25 %>

  <%= f.label :recipe_id, 'Recipe' %>
  <%= f.collection_select :recipe_id, @recipes, :id, :title, prompt: true %>

  <%= f.label :category %>
  <%= f.collection_select :category, Entry.categories, :first, :first %>

  <%= link_to_remove_association f do %>
    <button>Remove Entry</button>
  <% end %>
</div>
