<%= form_for @log do |f| %>

  <div>
    <div id="entries">
      <%= f.fields_for :entries do |entries| %>
        <%= render "entry_fields", f: entries %>
      <% end %>

      <div class="links add-entry">
        <%= link_to_add_association f, :entries, {"data-association-insertion-method": "before"}  do %>
          <button>Add Entry</button>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
