<%= form_for @log do |f| %>

  <div>
    <div id="entries">
      <%= f.fields_for :entries do |entries| %>
        <%= render "entry_fields", f: entries %>
      <% end %>

      <div class="links">
        <%= link_to_add_association "Add Entry", f, :entries,
          {"data-association-insertion-method": "before"} %>
    </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
