<div class='log-index'>
  <div>
    <h3><%= date(logs.log_date) %></h3>
  </div>

  <div class='stats'>
    <ul>
      <li><%= num logs.total_stats.total_calories %><span>Calories</span></li>
      <li><%= num logs.total_stats.total_carbs %><span>Carbs</span></li>
      <li><%= num logs.total_stats.total_protein %><span>Protein</span></li>
      <li><%= num logs.total_stats.total_fat %><span>Total Fat</span></li>
    </ul>
  </div>

  <div>
    <p>
    <%= link_to 'View Log', user_log_path(current_user, logs) %> | 
    <%= link_to 'Edit Log', edit_user_log_path(current_user, logs) %>
    </p>
  </div>
</div>
