<tr>
  <td><%= stats.title %> - <%= stats.category %></td>
  <td class='data'><%= num stats.calories %></td>
  <td class='data'><%= num stats.carbs %></td>
  <td class='data'><%= num stats.protein %></td>
  <td class='data'><%= num stats.fat %></td>
</tr>
