<h2>User: <%= current_user.email %></h2>

<h2>Food Logs</h2>

<ul>
  <% @logs.each do |log| %>
    <li>
      <h3><%= date(log.log_date) %></h3>
      <p><%= link_to "View Log", log_path(log) %></p>
      <p><%= link_to "Edit Log", edit_log_path(log) %></p>
      <ul class="default">
        <% log.entries.each do |entry| %>
          <li><%= entry.recipe.title %> - <%= entry.category %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
