<h1>Log Date: <%= date(@log.log_date) %></h1>

<div id="log-history">
  <p id="prev-log">
  <% if @log.prev(current_user) %>
    <%= link_to "Previous Log", 
      user_log_path(current_user, 
      @log.prev(current_user)) %>
  <% end %>
  </p>
  <p id="next-log">
  <% if @log.next(current_user) %>
    <%= link_to "Next Log", 
      user_log_path(current_user, 
      @log.next(current_user)) %>
  <% end %>
  </p>
</div>

<p>
<%= link_to 'Edit Log', edit_user_log_path(current_user, @log) \
  if policy(@log).edit? %>
</p>

<p>
<%= link_to 'Destroy Log', user_log_path(current_user, @log), method: :delete,
  data: { confirm: 'Are you sure?' } if policy(@log).destroy? %>
</p>

<%= pie_chart @log.total_stats_for_chart %>

<h2>Total Nutrition as Logged</h2>
<table class='tables recipe'>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Calories</th>
      <th>Carbohydrate</th>
      <th>Protein</th>
      <th>Fat</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'stats', collection: @log.per_recipe_stats %>
    <tr class='total'>
      <td>Day's Total</td>
      <td class='data'><%= num @log.total_stats.total_calories %></td>
      <td class='data'><%= num @log.total_stats.total_carbs %></td>
      <td class='data'><%= num @log.total_stats.total_protein %></td>
      <td class='data'><%= num @log.total_stats.total_fat %></td>
  </tbody>
</table>

