<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <%= link_to root_path, class: "mobile-logo" do %>
      <%= image_tag "logo.png", alt: t("title") %>
    <% end %>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><%= link_to "Carb Tracker", static_index_path %></li>

        <% if user_signed_in? %>
          <li id="js-centered-more" class="nav-link more">
            <%= link_to t("nav.log.logs"), user_logs_path(current_user) %>
            <ul class="submenu">
              <li>
                <%= link_to t("nav.log.today"), today_user_logs_path(current_user) %>
              </li>
              <li>
                <%= link_to t("nav.log.new"), new_user_log_path(current_user) %>
              </li>
            </ul>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li id="js-centered-more" class="nav-link more">
            <%= link_to t("nav.recipes.recipes"), recipes_path %>
            <ul class="submenu">
              <li><%= link_to t("nav.recipes.new"), new_recipe_path %></li>
            </ul>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li id="js-centered-more" class="nav-link more">
            <%= link_to t("nav.foods.foods"), foods_path %>
            <ul class="submenu">
              <li><%= link_to t("nav.foods.new"), new_food_path %></li>
            </ul>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li id="js-centered-more" class="nav-link more">
            <%= link_to current_user.email, user_logs_path(current_user) %>
            <ul class="submenu">
              <li>
                <%= link_to t("nav.users.account"),
                  edit_user_registration_path(current_user) %>
              </li>
              <li>
                <%= link_to t("nav.users.signout"),
                  destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to t("nav.users.signin"), new_user_session_path %>
          </li>
          <li class="nav-link">
            <%= link_to t("nav.users.signup"), new_user_registration_path %>
          </li>
        <% end %>

        </li>
      </ul>
    </nav>
  </div>
</header>
